/* Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css");

/* Bootstrap Icons */
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"); */

/* Poppin font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-body-font-family: "Poppins", sans-serif;

  /* Primary Colors */
  --color-cyan: hsl(180, 66%, 49%);
  --color-dark-violet: hsl(257, 27%, 26%);

  /* Secondary Colors */
  --color-red: hsl(0, 87%, 67%);

  /* Neutral Colors */
  --color-gray: hsl(0, 0%, 75%);
  --color-grayish-violet: hsl(257, 7%, 63%);
  --color-very-dark-blue: hsl(255, 11%, 22%);
  --color-very-dark-violet: hsl(260, 8%, 14%);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--color-very-dark-violet);
}

strong {
  font-weight: 700;
}

.nav-link {
  color: var(--color-grayish-violet);
  font-weight: 700;
}

.long-url {
  color: var(--color-very-dark-violet);
  font-weight: 700;
}

.short-url {
  color: var(--color-cyan);
  font-weight: 700;
}

.info-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-cyan);
  background-color: var(--color-dark-violet);
}

.text-cyan {
  color: var(--color-cyan);
}

.text-gray {
  color: var(--color-gray);
}

.text-grayish-violet {
  color: var(--color-grayish-violet);
}

.text-very-dark-violet {
  color: var(--color-very-dark-violet);
}

.themed-button {
  transition: filter 0.15s ease, background-color 0.15s ease;
}

.themed-button:hover {
  filter: brightness(1.2) saturate(0.4);
}

.footer-link-header {
  color: white;
  font-weight: 700;
}

.footer-link-list {
  line-height: 2.5;
}

.footer-link-list li a {
  color: var(--color-gray);
  text-decoration: none;
  transition: filter 0.15s ease;
}

.footer-link-list li a:hover {
  filter: brightness(1.5);
}

.footer-icon {
  width: 1.25rem;
  transition: filter 0.15s ease;
}

.footer-icon:hover {
  filter: brightness(0.75);
}

.logo {
  cursor: pointer;
  transition: transform 0.15s ease;
}

.logo:hover {
  transform: scaleX(0.75);
}